# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'lua-remote:command'
      'command': 'lua-remote-editor:command'
    },
    {
      'label': 'lua-remote:connect'
      'command': 'lua-remote-editor:connect'
    },
    {
      'label': 'lua-remote:updateFunc'
      'command': 'lua-remote-editor:updateFunc'
    },
    {
      'label': 'lua-remote:clearlog'
      'command': 'lua-remote-editor:clearlog'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'lua-remote-editor'
      'submenu': [

      ]
    ]
  }
]
